<h1>Individual School Class</h1>
<table>
  <tr>
    <td><b>Title:</b></td>
    <td><%= @school_class.title %></td>
  </tr>
  </tr>
    <td><b>Room:</b></td>
    <td><%= @school_class.room_number %></td>
  </tr>
</table>
